/* General Card Styling */
.bill-card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fcd6f7;
    padding: 20px;
    transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
    border: 2px solid transparent; /* Initial border is transparent */
}

/* Hover Effect to Highlight Card */
.bill-card:hover {
    background-color: #9beaf6; /* Light background on hover */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Subtle shadow to create depth */
    transform: translateY(-5px); /* Lift the card slightly */
    border-color: #007bff; /* Change border color to blue on hover */
}

/* Button Customization */
.delete-btn, .edit-btn {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s ease-in-out;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Ensure text is centered */
}

.delete-btn:hover, .edit-btn:hover {
    background-color: #d93636;
}

/* Chip Customization */
.chip {
    background-color: #d93636;
    color: white;
    font-size: 15px;
    font-weight: bold;
    display: block;
}

/* Layout Adjustments */
.font-size {
    font-size: 18px;
}

.float-right {
    float: right;
}

p {
    margin: 10px 0;
}

/* Add custom styling for the Bill Card */
.card .card-content {
    padding: 10px;
}

/* Additional Styling */
hr {
    border-top: 1px solid #ddd;
}

/* Adding some margin for spacing between cards */
.container {
    padding: 20px;
}

/* Header Styling */
.heading {
    color: lightseagreen;
}

/* Category Dropdown */
.margin-top {
    margin-top: 30px;
}

.margin-left {
    margin-left: 80px;
}

/* Preloader Styling */
.preloader {
    margin-top: 100px;
    margin-left: 250px;
}
