/* Base Styles for Cards */
.custom-card {
    position: relative;
    transition: all 0.3s ease;
    border-radius: 10px;
  }
  .add-card{
      border: 3px solid #16c47f;
  }
  .custom-card:hover {
    transform: scale(1.05);
  }
  
  .should-be-paid {
    border: 3px solid #ff4d4d;
  }
  
  .should-be-paid::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    background-color: #ff4d4d;
    border-top-left-radius: 5px;
  }
  
  .should-be-paid .button-edit,
  .should-be-paid .button-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff4d4d;
    color: white;
    border: none;
  }
  
  .not-paid {
    border: 3px solid #16c47f;
  }
  
  /* Styles for <hr> when not paid */
  
  .not-paid .button-edit,
  .not-paid .button-delete,
  .add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #16c47f;
    color: white;
    border: none;
  }
  .add-btn {
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Styling for Buttons */
  .button-edit,
  .button-delete {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style for <hr> */
  
  .font-size {
    font-size: 20px;
  }
  
  .float-right {
    float: right;
  }
  
  .button-color {
    color: white;
  }
  
  .margin-top {
    margin-top: 30px;
  }
  
  .margin-left {
    margin-left: 80px;
  }
  
  .preloader {
    margin-top: 100px;
    margin-left: 250px;
  }
  
  .heading {
    color: #16c47f;
  }
  
  .hero-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    color: #000;
    margin-top: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  h5 {
    font-weight: bold;
    color: black !important;
    text-align: center;
  }
  .amt {
    font-weight: bold;
  }
  .legend-container {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
    font-weight: 600;
  }
  
  .legend-text {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .highlight-should-be-paid {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ff4d4d; /* Color for 'should be paid' bills */
    border-radius: 5px;
    margin-right: 10px;
  }
  
  /* Optional: Add spacing for the legend text */
  .legend-text {
    color: #333;
  }